.tableAdmin > tbody > tr > * {
    vertical-align: middle;
}

body {
    background-color:rgb(253, 253, 236);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    border-radius: 10px;
padding: 25px;
}

.watchers{
    vertical-align: middle;
}

.cardPengirim{
    background-color: rgb(197, 197, 197) ;
}

.cardPenerima{
    background-color: rgb(222, 255, 213);
}